    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

						<p>Your Comment has been recorded!</p>

                        <a href="movielist" class="btn btn-default btn-lg">Back to List of Movies</a><br/>

                        <a href="index" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </header>
